@import url("https://fonts.googleapis.com/css?family=Raleway");
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow: hidden;
}

a {
  font-family: 'Raleway';
  font-weight: lighter;
  text-transform: uppercase;
}

#space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=index.css.map */