@import url("https://fonts.googleapis.com/css?family=Raleway");

$background-color: rgba(60, 50, 80, 1);
$primary-color: rgba(255, 255, 255, 1);

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow: hidden;
}

a {
  font-family: "Raleway";
  font-weight: lighter;
  text-transform: uppercase;
}

#space {
  display: flex;
  align-items: center;
  justify-content: center;
}

// body {
//     background-color: $background-color;
// }
