#ship {
  position: relative;
  z-index: 2000;
}

#engine {
  position: fixed;
  right: 50%;
  margin-right: -3rem;
  -webkit-transform: rotate(-93deg);
          transform: rotate(-93deg);
}

.flame {
  position: fixed;
  border-radius: 2rem;
  bottom: 0;
  -webkit-animation: combust 1s infinite;
          animation: combust 1s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.flame:nth-child(1) {
  -webkit-animation: combust 2s infinite;
          animation: combust 2s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

.flame:nth-child(2) {
  -webkit-animation: combust 2s infinite;
          animation: combust 2s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.flame:nth-child(3) {
  -webkit-animation: combust 2s infinite;
          animation: combust 2s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.flame:nth-child(4) {
  -webkit-animation: combust 2s infinite;
          animation: combust 2s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.flame:nth-child(5) {
  -webkit-animation: combust 2s infinite;
          animation: combust 2s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes combust {
  0% {
    z-index: 1000;
    width: 0;
    height: 0;
    margin-left: 3rem;
    background-color: #e69e8f;
  }
  50% {
    width: 3rem;
    height: 3rem;
    margin-bottom: 4.5rem;
    margin-left: 1.5rem;
    background-color: #c4857c;
  }
  75% {
    z-index: 1;
  }
  100% {
    z-index: 1;
    width: 0;
    height: 0;
    margin-bottom: 12rem;
    margin-left: 3rem;
    background-color: #594b5c;
  }
}

@keyframes combust {
  0% {
    z-index: 1000;
    width: 0;
    height: 0;
    margin-left: 3rem;
    background-color: #e69e8f;
  }
  50% {
    width: 3rem;
    height: 3rem;
    margin-bottom: 4.5rem;
    margin-left: 1.5rem;
    background-color: #c4857c;
  }
  75% {
    z-index: 1;
  }
  100% {
    z-index: 1;
    width: 0;
    height: 0;
    margin-bottom: 12rem;
    margin-left: 3rem;
    background-color: #594b5c;
  }
}
/*# sourceMappingURL=ship.css.map */