#ship {
  position: relative;
  z-index: 2000;
}

#engine {
  position: fixed;
  right: 50%;
  margin-right: -3rem;
  transform: rotate(-93deg);
}

.flame {
  position: fixed;
  border-radius: 2rem;
  bottom: 0;
  animation: combust 1s infinite;
  animation-timing-function: linear;
}

.flame:nth-child(1) {
  animation: combust 2s infinite;
  animation-timing-function: linear;
  animation-delay: 0;
}
.flame:nth-child(2) {
  animation: combust 2s infinite;
  animation-timing-function: linear;
  animation-delay: 0.5s;
}
.flame:nth-child(3) {
  animation: combust 2s infinite;
  animation-timing-function: linear;
  animation-delay: 1s;
}
.flame:nth-child(4) {
  animation: combust 2s infinite;
  animation-timing-function: linear;
  animation-delay: 1.5s;
}
.flame:nth-child(5) {
  animation: combust 2s infinite;
  animation-timing-function: linear;
  animation-delay: 2s;
}

@keyframes combust {
  0% {
    z-index: 1000;
    width: 0;
    height: 0;
    margin-left: 3rem;
    background-color: rgba(230, 158, 143, 1);
  }
  50% {
    width: 3rem;
    height: 3rem;
    margin-bottom: 4.5rem;
    margin-left: 1.5rem;
    background-color: rgba(196, 133, 124, 1);
  }
  75% {
    z-index: 1;
  }
  100% {
    z-index: 1;
    width: 0;
    height: 0;
    margin-bottom: 12rem;
    margin-left: 3rem;
    background-color: rgba(89, 75, 92, 1);
  }
}
